In [4]:
import re
import pandas as pd

# df1 = pd.read_excel("../../datasets/CFD Version 3.0/CFD 3.0 Norming Data and Codebook.xlsx", sheet_name="CFD U.S. Norming Data", skiprows=[0,1,2,3,4,5,7,8], header=[0])
# df2 = pd.read_excel("../../datasets/CFD Version 3.0/CFD 3.0 Norming Data and Codebook.xlsx", sheet_name="CFD-MR U.S. Norming Data", skiprows=[0,1,2,3,4,5,7,8], header=[0]).iloc[:, :-8]
# df3_1 = pd.read_excel("../../datasets/CFD Version 3.0/CFD 3.0 Norming Data and Codebook.xlsx", sheet_name="CFD-I U.S. Norming Data", skiprows=[0,1,2,3,4,5,7,8], header=[0]).iloc[:, :-34]
# df3_2 = pd.read_excel("../../datasets/CFD Version 3.0/CFD 3.0 Norming Data and Codebook.xlsx", sheet_name="CFD-I INDIA Norming Data", skiprows=[0,1,2,3,4,5,7,8], header=[0]).iloc[:, :-34]
# df3 = pd.concat([df3_2.iloc[:, 0:4], (df3_2.iloc[:, 4:] + df3_1.iloc[:, 4:]) / 2], axis = 1)
# c = []
# for i in df3.columns:
#     a = re.findall(r"R(\d+)B", i)
#     if len(a) and int(a[0]) != 5:
#         c.append("R{}".format(a[0]))
#     else:
#         c.append(i)
# df3.columns = c

# df = pd.concat([df1, df2, df3], axis = 0)
# df.to_csv("../../datasets/1/label.csv", index=False, quoting=1, encoding="utf-8-sig")

# 有一个被试的性别 是`F `, 多了一个空格
# 还得修改一个列名，为model_id, 不然后面还得改
df = pd.read_csv("../../datasets/1/label.csv")
df.head()

,model_id,S001,S002,S003,R002,Unnamed: 5,R003,R004,R005,R005A,...,P056,P057,P058,P059,P060,P061,P062,P063,P065,R001
0,AF-200,A,F,NaN,32.571429,NaN,1.000000,0.000000,1.000000,NaN,...,0.060924,0.414099,0.326797,0.130719,0.264706,0.388189,91.5,0.545752,1.973890,28.0
1,AF-201,A,F,NaN,23.666667,NaN,1.000000,0.000000,0.962963,NaN,...,0.041892,0.414414,0.329279,0.144595,0.300901,0.383784,146.0,0.488288,2.068681,27.0
2,AF-202,A,F,NaN,24.448276,NaN,0.827586,0.172414,0.310345,NaN,...,0.051586,0.411080,0.310317,0.173424,0.298475,0.397029,58.0,0.481333,1.987261,29.0
3,AF-203,A,F,NaN,22.758621,NaN,1.000000,0.000000,0.758621,NaN,...,0.063913,0.354407,0.343793,0.169820,0.272266,0.421089,87.5,0.500231,1.902284,29.0
4,AF-204,A,F,NaN,30.137931,NaN,1.000000,0.000000,0.827586,NaN,...,0.053435,0.438931,0.293045,0.180237,0.293893,0.371925,73.5,0.513571,2.081081,29.0

In [ ]:
# import seaborn as sns
# from matplotlib import pyplot as plt

# # 将每个变量绘制成直方图, 然后挑选合适的
# for i in range(df.shape[1]):
#     plt.figure()
#     sns.histplot(df.iloc[:, i])
#     plt.xlabel(df.columns[i])
#     plt.savefig(fname="work_dirs/acd/{}.jpg".format(i))

In [5]:
def getArr(start, stop):
    return list(range(start, stop))

r = [0,1,2,
     4,6,7,
     14,18,
     19,21,23,25,27,29,31,33,35,37,39,
     43,45,47,49,
     *getArr(57,75),76,77,78,
     *getArr(81,88),*getArr(103,117)]
df.iloc[:, r].head()

,model_id,S001,S002,R002,R003,R004,R006,R010,R011,R012,...,P055,P056,P057,P058,P059,P060,P061,P062,P063,P065
0,AF-200,A,F,32.571429,1.000000,0.000000,0.000000,0.0,2.035714,1.571429,...,0.404651,0.060924,0.414099,0.326797,0.130719,0.264706,0.388189,91.5,0.545752,1.973890
1,AF-201,A,F,23.666667,1.000000,0.000000,0.000000,0.0,1.814815,3.111111,...,0.329204,0.041892,0.414414,0.329279,0.144595,0.300901,0.383784,146.0,0.488288,2.068681
2,AF-202,A,F,24.448276,0.827586,0.172414,0.068966,0.0,1.464286,1.862069,...,0.357939,0.051586,0.411080,0.310317,0.173424,0.298475,0.397029,58.0,0.481333,1.987261
3,AF-203,A,F,22.758621,1.000000,0.000000,0.000000,0.0,2.586207,1.655172,...,0.443200,0.063913,0.354407,0.343793,0.169820,0.272266,0.421089,87.5,0.500231,1.902284
4,AF-204,A,F,30.137931,1.000000,0.000000,0.000000,0.0,2.551724,1.586207,...,0.432247,0.053435,0.438931,0.293045,0.180237,0.293893,0.371925,73.5,0.513571,2.081081

In [6]:
import os
from glob import glob

a = []
b = []
for path in glob("../../datasets/1/face/0_*"):
    filename = os.path.basename(path)
    if not filename.endswith("-N.jpg"):
        continue
    a.append(filename)
    filename = filename.split("-N.jpg")[0].split("CFD-")[1]
    a_ = filename.split("-")

    m = "-".join(a_[0:2])
    if a_[0] == "IF" or a_[0] == "IM":
        m = "{}{}-{}".format(a_[0], a_[1], a_[2])
    b.append("{}{}".format(m, "-1" if len(a_) == 4 and len(a_[3]) == 1 else ""))
pd.DataFrame({"filename": a, "model_id": b}).merge(df.iloc[:, r], how="left", on="model_id").to_csv("../../datasets/1/label_used.csv", quoting=1, encoding="utf-8-sig", index=False)